@charset "utf-8";

main {
  min-height: calc(100vh - 70px);
  position: relative;
}

main section {
	min-height: 30vh;
}

.header {
  height: 150px;
  background-image: url("https://images.pexels.com/photos/4969107/pexels-photo-4969107.jpeg");
  background-size: cover;
  padding: 30px;
  display: flex;
  align-items: flex-end;
  color: white;
}

.resposta {
  padding: 10px;
  font-size: 20px;
  background: blue;
  border-radius: 10px;
  color: white;
  box-shadow: 2px 2px 8px black;
}

footer {
  padding: 20px;
  width: 100%;
  text-align: center;
}

footer img {
  height: 30px;
}